h1 {
    color: red; 
    text-align: center;
    text-shadow: 4px 4px 2px rgba(255, 0, 0, 0.527);
}
.title {
    color: rgb(197, 0, 0)
}

#italic {color: orange;}


nav {
    background-color: aquamarine;
    text-align: center;

}

.nav-wrapper {
    background-color: rgb(0, 173, 226);
}


a {
  text-decoration-line: none;  
}

nav ul {
    list-style:none;
    }

nav li {
    display: inline-block;
    padding: 30px;
}    

nav li {
    display:-ms-inline-grid;
}

#strong {color: orchid;}

.container {
    border: 10px dashed rgb(80, 191, 255);
    margin: 50px 20px 50px 20px;
    padding: 30px 20px 30px 20px;
}

.boxx {
    display: inline-block;
    height: 200px;
    width: 200px;
    background: blue;
    margin: 10px 0px;

}

.box {
    height: 200px;
    width: 200px;
    background: rgba(255, 196, 0, 0.788);
    margin: 10px 10px;
    box-shadow: 3px 3px 4px; color:rgb(0, 164, 175);
}

@keyframes fadeMe {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#box1 {
    animation-name: fadeMe;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

#box2 {
    animation-name: rotation;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-radius: 10%;
    background-image: radial-gradient(circle, rgb(0, 81, 128), orange, yellow, rgb(247, 17, 9), rgb(6, 255, 180));
}

@keyframes getBigger {
0% {transform: scale(1);}
50% {transform: scale(2);}
100% {transform: scale(.5);}
}

#box3 {
animation: getBigger infinite 3s ease-in;
border-radius: 50%;
background: orange;
}

@keyframes changeColors {
    0% {background-color: grey;}
    25% {background-color: rgb(189, 27, 27);}
    50% {background-color: rgb(60, 136, 89);}
    75% {background-color: rgb(79, 145, 175);}
    100% {background-color: grey;}
}

#box4 {
    animation: changeColors infinite 3s;
}

@keyframes moveBox {
    0% {left: 0px; top: 0px;}
    25% {left: 100px; top: 0px;}
    50% {left: 100px; top: 200px;}
    75% {left: 0px; top: 200px;}
    100% {left: 0px; top: 0px;}
}

#box5 {
    position: relative;
    background: red;
    animation: moveBox infinite 5s;  
}

@keyframes moveBox {
    0% {left: 0px; top: 0px;}
    25% {left: 100px; top: 0px;}
    50% {left: 100px; top: 200px;}
    75% {left: 0px; top: 200px;}
    100% {left: 0px; top: 0px;}
}

#box6 {
    position: relative;
    top: 10px;
    left: 20px;
  
}



.circleImg {
    border-radius: 50%;
}

img {
    box-shadow: 10px 8px 8px 10px; color: grey;
}

.flex {
    margin: 30px;
    border: 3px solid coral;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
}

.containerC {
    border: 10px solid;
    margin: 30px;
    padding: 10px;
}

.container {
    border: 20px dashed rgb(0, 192, 206);
    margin-top: 50px 5px 25px 0px;
    padding: 30px 0px 10px 35px;

}

form input {
    display: block;
    margin: 30px;
}

form textarea {
    display: block;
    margin: 30px;
}

form button {
    display: block;
    margin: 30px;
}

.contact-box {
    display:flex;
    justify-content: center;
}

.row {
    margin: 30px;
}

.input-field {
    margin: 20px;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, [col] 20% ) ;
    grid-template-rows: repeat(3, [row] auto  );
    background-color: white;
    color: #444;
  }

  .Box {
    background-color: white;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    z-index:10;

  }

  .a {
    grid-column: col / span  2;
    grid-row: row ;
    display: flex;
    justify-content: center;
  }
  .b {
    grid-column: col 4 / span 2;
    grid-row: row ;
    display: flex;
    justify-content: center;
  }
  .c {
    grid-column: col / span 5;
    grid-row: row 2 ;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(pink, yellow, purple, orange);
  }
  .d {
    grid-column: col 1 / span  3 ;
    grid-row: row 3 ;
    display: flex;
    justify-content: center;
  }

  .e {
    grid-column: col 3 / span  3;
    grid-row: row 3;
    display: flex;
    justify-content: center;
  }

  .f {
    grid-column: col 2 / span 3;
    grid-row: row 2  ;
    background-color: rgba(49,121,207, 0.5);
    z-index: 20;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(orange, purple, yellow, pink)
  }